<!DOCTYPE html>
<html ng-app="foldertohttpApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">

  <title>folder2http</title>
  
  <script src="lib/angular/angular.min.js"></script>
  <script src="app.js"></script>
  
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
</head>

<body>
  <div ng-controller="mainController">

    <!-- Login-->

    <div class="container" ng-show="!goList">

      <br />

      <form>
        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input type="text" class="form-control" id="usernameInput" ng-model="loginData.username">
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control" id="passwordInput" ng-model="loginData.password">
        </div>
        <button type="button" class="btn btn-secondary" ng-click="login()">Ingresar</button>
      </form>
    </div>

    <!-- Listing files -->

    <div class="container-fluid" ng-show="goList" ng-cloak style="background-color: #343a40; padding: 10px;">
      <div class="row">
        <div class="col-sm" style="color: white">
          {{printCurrentPath()}}
        </div>
        <div class="col-sm" style="text-align:right">
          <button type="button" class="btn btn-light btn-sm" ng-click="logout()">Logout</button>
        </div>
      </div>
    </div>

    <br />

    <div class="container" ng-show="goList" ng-cloak>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" ng-click="back()"><img src="/img/arrow-top-2x.png"
            class="icon"></img>Atrás</a>
        <a href="#" class="list-group-item list-group-item-action" ng-repeat="dir in dirs"
          ng-click="list(dir.name)"><img src="/img/folder-2x.png" class="icon"></img>{{dir.name}}</a>
        <a ng-href="/download{{printCurrentPath()}}/{{file.name}}"
          class="list-group-item list-group-item-action" ng-repeat="file in files"><img src="/img/file-2x.png"
            class="icon"></img>{{file.name}}</a>
      </div>
    </div>

  </div>
</body>

</html>