<!DOCTYPE html>
<html ng-app="foldertohttpApp">

<head>
  <meta charset="utf-8">
  <title>folder2http</title>
  <script src="lib/angular/angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
</head>

<body>
  <br />
  <div ng-controller="mainController">

    <!-- Login-->
    <div class="container" ng-show="!goList">
      <form>
        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input type="text" class="form-control" id="usernameInput" ng-model="loginData.username">
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control" id="passwordInput" ng-model="loginData.password">
        </div>
        <button type="button" class="btn btn-primary" ng-click="login()">Ingresar</button>
      </form>
    </div>

    <!-- Listing files -->
    <div class="container" ng-show="goList" ng-cloak>
      <p>{{printCurrentPath()}}</p>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" ng-click="back()">Atrás</a>
        <a href="#" class="list-group-item list-group-item-action" ng-click="list(dir.name)"
          ng-repeat="dir in dirs"><img src="/img/folder-2x.png" class="icon">{{dir.name}}</a>
        <a href="#" class="list-group-item list-group-item-action" ng-repeat="file in files"><img src="/img/file-2x.png"
            class="icon">{{file.name}}</a>
      </div>
    </div>

  </div>
</body>

</html>